.page-brand-stat-sale {
  .st-panel__body {
    padding: 24px 0;
  }
  &__section {
  }
  .ant-tabs-bar {
    padding-left: 0;
  }
  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    margin-right: 6px;
  }
  &__panel {
    display: flex;
    justify-content: space-between;
    min-height: 290px;
  }
  &__top5-table {
    flex: 0 1 auto;
    max-width: 375px;
    margin-right: 50px;
    &:first-child {
      margin-right: 100px;
    }
  }
  &__top5-order {
    display: block;
    margin-left: -5px;
    width: 34px;
    text-align: center;
    img {
      width: 34px;
      height: 24px;
    }
  }
  &__chart {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
    height: 290px;
    border-left: 1px solid #e6e9ef;
    box-sizing: border-box;
    &-title {
      padding: 0 24px;
      font-size: 14px;
      font-weight: 500;
      color: @title;
    }
    .brand-stat-ring {
      margin-left: 50px;
    }
  }
}
